<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            .author {
                font-size: 10px;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        
        <div>
            <a href='/newpost'>New Post</a>
            <a href='/blog'>Show All Posts</a>
            <a href='/'>Show All Authors</a>
            <a href='/logout'>Logout</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
            </ul>
            <hr />
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>